In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
raw_data = pd.read_csv('Audiobooks_data1.csv')
df_audiobooks = raw_data.copy()
df_audiobooks

,ID,Book Length(mins)_overall,Book Length(mins)_overall.1,Price_overall,Price_avg,Review,Review 10/10,Minutes Listened,Completion,Support Requests,Last visited minus Purchase date,Targets
0,994,1620.0,1620,19.73,19.73,1,10.00,0.99,1603.8,5,92,0
1,1143,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,0,0
2,2059,2160.0,2160,5.33,5.33,0,8.91,0.00,0.0,0,388,0
3,2882,1620.0,1620,5.96,5.96,0,8.91,0.42,680.4,1,129,0
4,3342,2160.0,2160,5.33,5.33,0,8.91,0.22,475.2,0,361,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14079,28220,1620.0,1620,5.33,5.33,1,9.00,0.61,988.2,0,4,0
14080,28671,1080.0,1080,6.55,6.55,1,6.00,0.29,313.2,0,29,0
14081,31134,2160.0,2160,6.14,6.14,0,8.91,0.00,0.0,0,0,0
14082,32832,1620.0,1620,5.33,5.33,1,8.00,0.38,615.6,0,90,0
14083,251,1674.0,3348,5.33,10.67,0,8.91,0.00,0.0,0,0,1

In [3]:
df_audiobooks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14084 entries, 0 to 14083
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                14084 non-null  int64
 1   Book Length(mins)_overall         14084 non-null  float64
 2   Book Length(mins)_overall.1       14084 non-null  int64
 3   Price_overall                     14084 non-null  float64
 4   Price_avg                         14084 non-null  float64
 5   Review                            14084 non-null  int64
 6   Review 10/10                      14084 non-null  float64
 7   Minutes Listened                  14084 non-null  float64
 8   Completion                        14084 non-null  float64
 9   Support Requests                  14084 non-null  int64
 10  Last visited minus Purchase date  14084 non-null  int64
 11  Targets                           14084 non-null  int64
dtypes: float64(6), int64(6)
memory usage: 1.3 MB

In [4]:
df_audiobooks.describe()

,ID,Book Length(mins)_overall,Book Length(mins)_overall.1,Price_overall,Price_avg,Review,Review 10/10,Minutes Listened,Completion,Support Requests,Last visited minus Purchase date,Targets
count,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000
mean,16772.491551,1591.281685,1678.608634,7.103791,7.543805,0.160750,8.909795,0.125659,189.888983,0.070222,61.935033,0.158833
std,9691.807248,504.340663,654.838599,4.931673,5.560129,0.367313,0.643406,0.241206,371.084010,0.472157,88.207634,0.365533
min,2.000000,216.000000,216.000000,3.860000,3.860000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8368.000000,1188.000000,1188.000000,5.330000,5.330000,0.000000,8.910000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16711.500000,1620.000000,1620.000000,5.950000,6.070000,0.000000,8.910000,0.000000,0.000000,0.000000,11.000000,0.000000
75%,25187.250000,2160.000000,2160.000000,8.000000,8.000000,0.000000,8.910000,0.130000,194.400000,0.000000,105.000000,0.000000
max,33683.000000,2160.000000,7020.000000,130.940000,130.940000,1.000000,10.000000,1.000000,2160.000000,30.000000,464.000000,1.000000

In [5]:
raw_csv_data = np.genfromtxt('Audiobooks_data1.csv', delimiter = ',', skip_header= 1)

In [6]:
raw_csv_data.shape

(14084, 12)

In [7]:
unscaled_inputs = raw_csv_data[:, 1:-1]
unscaled_inputs.shape

(14084, 10)

In [8]:
targets = raw_csv_data[:,-1]
targets.shape

(14084,)

In [9]:
num_one_targets = int(np.sum(targets))
zero_targets_counter = 0
indices_to_remove = []

for i in range(targets.shape[0]):
    if targets[i] == 0:
        zero_targets_counter += 1
        if zero_targets_counter > num_one_targets:
            indices_to_remove.append(i)

unscaled_inputs_balanced = np.delete(unscaled_inputs, indices_to_remove, axis=0)
targets_balanced = np.delete(targets, indices_to_remove, axis=0)

In [10]:
unscaled_inputs_balanced.shape

(4474, 10)

In [11]:
targets_balanced.shape

(4474,)

In [12]:
scaled_inputs = preprocessing.scale(unscaled_inputs_balanced)

In [13]:
shuffled_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_indices)

In [14]:
shuffled_inputs = scaled_inputs[shuffled_indices]
shuffled_targets = targets_balanced[shuffled_indices]

In [15]:
samples_count = shuffled_inputs.shape[0]

train_samples_count = int(0.8 * samples_count)
validation_samples_count = int(0.1 * samples_count)

test_samples_count = samples_count - train_samples_count - validation_samples_count

train_inputs = shuffled_inputs[:train_samples_count]
train_targets = shuffled_targets[:train_samples_count]

validation_inputs = shuffled_inputs[train_samples_count:train_samples_count+validation_samples_count]
validation_targets = shuffled_targets[train_samples_count:train_samples_count+validation_samples_count]

test_inputs = shuffled_inputs[train_samples_count+validation_samples_count:]
test_targets = shuffled_targets[train_samples_count+validation_samples_count:]

In [16]:
print(np.sum(train_targets), train_samples_count, np.sum(train_targets) / train_samples_count)
print(np.sum(validation_targets), validation_samples_count, np.sum(validation_targets) / validation_samples_count)
print(np.sum(test_targets), test_samples_count, np.sum(test_targets) / test_samples_count)

1804.0 3579 0.5040514110086617
217.0 447 0.4854586129753915
216.0 448 0.48214285714285715

In [17]:
np.savez('Audiobooks_data_train', inputs=train_inputs, targets=train_targets)
np.savez('Audiobooks_data_validation', inputs=validation_inputs, targets=validation_targets)
np.savez('Audiobooks_data_test', inputs=test_inputs, targets=test_targets)